.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.centered {
    text-align: center;
    margin-bottom: 30px;
}

.centered * {
    font-size: 3rem;
}

.service-container {
    display: flex;
    justify-content: center;
}

.service-container div {
    margin: 0 10px;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.service-container div:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.service-container div a {
    text-decoration: none;
    color: #000;
}

/* Additional styling for the divs */
#horse-list {
    background-color: #79A3B1;
    color: #fff;
}

#about {
    background-color: #E0C568;
    color: #000;
}

#contact {
    background-color: #B2B2B2;
    color: #fff;
}